Repository owncloud/owncloud-design-system, pull requests merged in 2021-03, with the labels that each got.

#1126 Add labels to avatars
  changelog/unreleased/avatars-labels
  src/components/avatars/OcAvatar.vue
  src/components/avatars/OcAvatarGroup.vue
  src/components/avatars/OcAvatarLink.vue
  src/components/avatars/__snapshots__/OcAvatarGroup.spec.js.snap
  src/components/table/__snapshots__/OcTableFiles.spec.js.snap
Labels: enhancement

#1130 Use correct color for accordion title
  changelog/unreleased/fix-accordion-title-color
  src/components/OcAccordion.vue
  src/styles/_owncloud.scss
  src/styles/theme/oc-accordion.scss
Labels: bug

#1143 Bump version for release 3.2.0
  changelog/3.2.0_2021-03-12/bugfix-accordion-title-color
  changelog/3.2.0_2021-03-12/bugfix-table-in-icon-docs
  changelog/3.2.0_2021-03-12/bugfix-update-ocswitch-docs
  changelog/3.2.0_2021-03-12/enhancement-avatar-labels
  changelog/3.2.0_2021-03-12/enhancement-extract-styleguidist-saas
  changelog/3.2.0_2021-03-12/enhancement-improve-image-docs
  changelog/3.2.0_2021-03-12/enhancement-remove-filetype-icon
  package.json
Labels: 3 - To Review

#1147 Increase datepicker z-index
  changelog/unreleased/bugfix-datepicker-z-index
  src/components/OcDatepicker.vue
  src/styles/theme/oc-datepicker.scss
Labels: bug

#1148 Add aria properties to radio input
  changelog/unreleased/enhancement-radio-accessibility
  src/components/OcRadio.vue
Labels: accessibility, enhancement

#1144 Add label and messages to textarea inputs
  changelog/unreleased/enhancement-add-label-and-messages-to-textarea
  src/components/OcTextarea.vue
Labels: accessibility, enhancement

#1149 Implement label and description for the datepicker component
  changelog/unreleased/enhancement-add-label-and-messages-to-datepicker
  src/components/OcDatepicker.vue
  src/styles/theme/oc-datepicker.scss
Labels: accessibility

#1151 Remove the OcTextInput component from the OcSearchBar component
  changelog/unreleased/enhancement-remove-octextinput-component-from-searchbar
  src/components/OcSearchBar.vue
  src/styles/theme/oc-search.scss
Labels: enhancement

#1145 Added acessibility to checkbox component
  changelog/unreleased/enhancement-checkbox-accessibility
  src/components/OcCheckbox.vue
  src/components/table/__snapshots__/OcTableFiles.spec.js.snap
Labels: accessibility, enhancement

#1141 Implement labels and descriptions for text input fields
  changelog/unreleased/enhancement-textinput-labels-and-description
  src/components/OcAccordion.vue
  src/components/OcTextInput.vue
  src/components/__snapshots__/OcModal.spec.js.snap
  src/styles/theme/oc-text-input.scss
Labels: accessibility, enhancement

#1156 Add label to the autocomplete component
  changelog/unreleased/change-autocomplete-label
  src/components/OcAutocomplete.vue
  src/styles/theme/oc-autocomplete.scss
Labels: accessibility, enhancement

#1158 Add focus border to accordion items
  changelog/unreleased/enhancement-accordion-focus
  src/components/OcAccordion.vue
  src/components/OcAccordionItem.vue
Labels: accessibility, enhancement

#1163 fix l10n make steps
  Makefile
  l10n/.tx/config
  l10n/Makefile
Labels: 3 - To Review

#1165 Fix avatar group tooltip which only has links
  changelog/3.2.2_2021-03-22/bugfix-links-in-avatar-group
  package.json
  src/components/avatars/OcAvatarGroup.vue
Labels: 3 - To Review

#1166 Make alert component a11y-compliant
  changelog/unreleased/enhancement-alert-accessibility
  src/components/OCAlert.vue
  src/components/__snapshots__/OCAlert.spec.js.snap
Labels: accessibility, enhancement

#1164 Make searchbar component a11y-compliant
  changelog/unreleased/enhancement-searchbar-accessibility
  src/components/OcSearchBar.vue
  src/styles/theme/oc-search.scss
Labels: accessibility, enhancement

#1155 Fix nesting on html elements
  changelog/unreleased/enhancement-element-nesting
  src/components/OCDrop.vue
  src/components/OcAccordionItem.vue
  src/components/resource/OcResourceName.vue
  src/components/resource/__snapshots__/OcResourceName.spec.js.snap
  src/components/table/__snapshots__/OcTableFiles.spec.js.snap
Labels: accessibility, enhancement

#1161 Adjust icons and images to make them a11y compliant
  build/webpack.base.conf.js
  changelog/unreleased/change-icon-and-image-accessibility
  package.json
  src/components/OCNotificationMessage.vue
  src/components/OcAccordion.vue
  src/components/OcAccordionItem.vue
  src/components/OcAppSideBar.vue
  src/components/OcBreadcrumb.vue
  src/components/OcButton.vue
  src/components/OcIcon.vue
  src/components/OcImage.vue
  src/components/OcSidebar.vue
  src/components/OcSidebarNavItem.vue
  src/components/OcStatusIndicators.vue
  src/components/OcTag.vue
  src/components/_OcTopBarLogo.vue
  src/components/__snapshots__/OCAlert.spec.js.snap
  src/components/__snapshots__/OcBreadcrumb.spec.js.snap
  src/components/__snapshots__/OcModal.spec.js.snap
  src/components/__snapshots__/OcSidebar.spec.js.snap
  src/components/avatars/OcAvatar.vue
  src/components/avatars/OcAvatarLink.vue
  src/components/resource/OcResource.vue
  src/components/table/OcTable.vue
  src/components/table/OcTableFiles.vue
  src/components/table/__snapshots__/OcTableFiles.spec.js.snap
  yarn.lock
Labels: accessibility, enhancement

#1174 Add description message to autocomplete component
  changelog/unreleased/enhancement-autocomplete-messages
  src/components/OcAutocomplete.vue
  src/styles/theme/oc-autocomplete.scss
Labels: accessibility, enhancement

#1176 Match datepicker input style with other existing inputs
  changelog/unreleased/enhancement-datepicker-input-style
  src/styles/theme/oc-datepicker.scss
Labels: accessibility, enhancement

#1184 Fix links count in avatar group
  changelog/unreleased/bugfix-links-in-avatar-group
  src/components/avatars/OcAvatarGroup.spec.js
  src/components/avatars/OcAvatarGroup.vue
  src/components/avatars/__snapshots__/OcAvatarGroup.spec.js.snap
Labels: 3 - To Review, bug

#1189 Change colour of breadcrumbs and create text-lead utility
  changelog/unreleased/breadcrumbs-color
  changelog/unreleased/text-lead
  config/docs.config.js
  docs/text.md
  docs/utilities.md
  src/components/OcBreadcrumb.vue
  src/styles/styles.scss
  src/styles/theme/_oc-page-title.scss
  src/styles/theme/login.scss
  src/styles/theme/oc-breadcrumb.scss
  src/styles/theme/oc-text.scss
Labels: enhancement
